.btn-image:before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-top;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.update-time:before {
  background-image: url('./update_time.svg');
}

.thumds-up:before {
  background-image: url('./thumbs_up.svg');
}

.share:before {
  background-image: url('./share.svg');
}

.comment:before {
  background-image: url('./comment.svg');
}
