.category {
  max-height: 450px;
  overflow: auto;
}

.category::-webkit-scrollbar {
  width: 5px;
  background-color: inherit;
  margin-right: 5px;
}

.category::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c1c1c1;
}

details > summary {
  outline: none;
  font-size: 1.15em;
  padding-left: 12%;
  list-style-image: url('./fold.svg');
}

details[open] summary {
  list-style-image: url('./open.svg');
}

details > summary:hover {
  background-color: #f8f9fa;
  font-weight: 700;
}

details > summary::-webkit-details-marker {
  display: none;
}

details p {
  padding: 1px 0px 1px 25%;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 8px;
}

details p:hover {
  background-color: #f8f9fa;
}
