.you-will-get {
  list-style: none;
}

.you-will-get li::before {
  content: '☑️';
}
@media (max-width: 360px) {
  .course-attr li {
    font-size: 10px;
  }
}
.btn-bg {
  background-color: #ffffff;
  outline: none;
  border: 0px;
}

.node:hover {
  background-color: #f8f9fa;
}

.node-img {
  margin: -5px 5px 0px 3px;
}

.chapter-img {
  margin: -4px 5px 0px 0px;
}
