.banner {
  background: url('https://icon.qiantucdn.com/20200428/257d1360cd6cfbc808596271fdc2b6ab2')
    rgba(105, 103, 103, 0.9);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0.5px);
}

.banner-attr {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.banner-attr li:not(:first-child)::before {
  padding: 2px 2px 2px 2px;
  content: '|';
}

@media (max-width: 360px) {
  .banner-attr li {
    font-size: 10px;
  }
}
